@use "../base" as *;

//uses grid and columns
// aboutPorfolio-grids for grid layout

section.whiteBgrd{
    background-color: white;
}


.whiteEmpty {
    grid-area: a;
}

.rhinoImg {
    grid-area: c;
    padding: 1rem;
    display: grid;

    & img.rhinoPic{
        max-width: 60%;
        align-self: end;
        justify-self: end;
        // border: 1px solid red;
    }
}






// width: clamp(500px, 530px, 40%);
