
@use "../base" as *;


#button {
    display: inline-block;
    background-color: white;
    box-shadow: 0px 0px 10px $black50pc;
    width: 58px;
    height: 58px;
    text-align: center;
    border-radius: 50%;
    position: fixed;
    bottom: 20px;
    right:10px;
    transition: background-color .3s, 
    opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
  }
  #button::after {
    content: "\e316";
    font-family: Material Icons;
    font-weight: 200;
    font-style: normal;
    font-size: 2.5em;
    line-height: 55px;
    color: $light-grey;
    padding-top: 1rem;
  }
  #button:hover {
    cursor: pointer;
    background-color: white;
    opacity: 0.8;
  }
  #button:active {
    background-color: white;
    opacity: 0.8;
  }
  #button.show {
    opacity: 1;
    visibility: visible;
  }
  
