
@use "../base" as *;


#button {
    display: inline-block;
    background-color: $light-grey;
    width: 58px;
    height: 58px;
    text-align: center;
    border-radius: 50%;
    position: fixed;
    bottom: 20px;
    right:10px;
    transition: background-color .3s, 
      opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
  }
  #button::after {
    content: "\e5d8";
    font-family: Material Icons;
    font-weight: 400;
    font-style: normal;
    font-size: 2.3em;
    line-height: 50px;
    color: #fff;
    margin-top: .5rem;
  }
  #button:hover {
    cursor: pointer;
    background-color: $mid-grey;
  }
  #button:active {
    background-color: $mid-grey;
  }
  #button.show {
    opacity: 1;
    visibility: visible;
  }
  
  /* Styles for the content section */
  
  .content {
    width: 77%;
    margin: 50px auto;
    font-family: 'Merriweather', serif;
    font-size: 17px;
    color: #6c767a;
    line-height: 1.9;
  }
  @media (min-width: 500px) {
    .content {
      width: 43%;
    }
    #button {
      margin: 30px;
    }
  }
  .content h1 {
    margin-bottom: -10px;
    color: #03a9f4;
    line-height: 1.5;
  }
  .content h3 {
    font-style: italic;
    color: #96a2a7;
  }