@use "../base" as *;


section .col6-wrapper {
    // display: flex;
    margin: 6rem auto;
    // border: 1px solid green;
}

.col6 {
    // border: 1px solid red;
    margin: 0 auto;
    width: 55%;
}

section h5 {
    font-family: $secondary-font;
    font-weight: 300;
    text-align: center;
}

section .col6 p {
    color: $dark-grey;
}