@use "../base" as *;


section .col6-wrapper {
    // display: flex;
    margin: 6rem auto;
    // border: 1px solid green;
}

section .col6 {
    // border: 1px solid red;
    margin: 0 auto;
    width: clamp(500px, 530px, 40%);
}

section .col6 h5 {
    font-family: $secondary-font;
    color: $navy;
    font-weight: 300;
    text-align: center;
    margin: 0 8% 1 rem 0;
}

section .col6 p {
    color: $dark-grey;
}