

@use "../base" as *;

// World map
.topImg {
    width: 100%;
    min-height: 40vh;
    background-color: lightgray;
}

.copyBlock {
    margin: 4rem 25% 3rem 12%;
   // border: 1px solid red;
}

.formBlock {
  margin: 1rem 25% 5rem 12%;
 // border: 1px solid red;
}

@include break(480px) {

    .copyBlock {
        margin: 1.5em 12% 3rem 12%;
    // border: 1px solid red;
    }

    .formBlock {
    margin: 1.5rem 12% 5rem 12%;
    // border: 1px solid red;
    }

}
