@use "sass:math";
@use "../base" as *;


//this page uses grid
//139Boxes.html partial

section .grid-wrapper { 
    width: 90%;
    margin: 4rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 3%;
}

section p {
    color: white; 
}

section h2 {
    margin-bottom: 0.0rem;;
    font-weight: 300;
}

section .turqLink {
    grid-column: 1 / 2;
    grid-row: 1;
    display: block;
    display: grid;
    background-color: $turq;
    padding: 5px 15px 5px 5px;
}

section .sandLink {
    grid-column: 2 / 3;
    grid-row: 1;
    display: block;
    display: grid;
    background-color: $sand;
    padding: 5px 15px 5px 5px;
}

section .terraLink {
    grid-column: 3 / 4;
    grid-row: 1;
    display: block;
    display: grid;
    background-color: $terra;
    padding: 5px 15px 5px 5px;
}

section .number img.figure{
    opacity: 0.5;
    grid-row: 1;
    height: 100px;

    align-self: start;
    // border: 1px solid red;
}

section .boxCopy {
    width: clamp(150px, 60%, 600px);
    grid-row: 2;
    align-self: start;
    justify-self: end;
    // border: 1px solid red;
}


// http://jsfiddle.net/hbirjand/RG8wW/