@use "sass:math";
@use "../base" as *;



//_139Boxes.scss

section {
    padding: 4rem 0;
    //height: 120 vh;
}


//this page uses grid
.grid-wrapper { 
    width: 90%;
    margin: 0 auto;
    //border: 1px solid green;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 3%;

}

section p {
    color: white;
}

section h5 {
    color: $navy;
    margin-bottom: 0.5rem;;
    font-weight: 300;

}

section .number img.figure{
    opacity: 0.5;
    height: 100px;
    //border: 1px solid red;
}

section .turq {
    grid-column: 1 / 2;
    grid-row: 1;
    background-color: $turq;
    padding: 20px;
}


section .sand {
    grid-column: 2 / 3;
    grid-row: 1;
    background-color: $sand;
    padding: 20px;
}

section .terra {
    grid-column: 3 / 4;
    grid-row: 1;
    background-color: $terra;
    padding: 20px;
}

section div.boxCopy {
    width: 60%;
    margin-left: 40%;
    //border: 1px solid red;
}

section {
    //border: 1px solid red;
}