@use "../base" as *;

//  Mobile styling starts 709px
@include break(709px) {

        // Kill off the nav wrapper grid 
        // for desktop by displaying as block
        nav .grid-wrapper {display: block}

        // Hide the desktop navTopBar div
        nav .navTopBar {display: none}

        // Swap to white logo on mobile
        nav .navLogo a img.white139 {
            width: 180px;
            display: block;
            margin: 19px 0 0 30px;
        }
        
        nav .navLogo a img.navy139 {
            display: none;

        }

        // Mobile nav wrapper $navy and style nav menu */
        // Allow div contents to be positioned (pos:relative)
        nav .grid-wrapper {
            display: block;
            background-color: $navy;
            position: relative;
        }
        
        /* Hide the links inside the navigation menu (except for logo/home) */
        // .grid-wrapper #siteLinks {
        //     display: none;
        // }

        // Position mobile menu to appear under nav wrapper | Z-index for index slider
        .grid-wrapper ul {
            // display: none;
            position: absolute;
            left: 0;
            top:70px;
            width: 100%;
            z-index: 100;
        }
        
        /* Style nav menu elements (li) */
        .grid-wrapper .navElements li {
            background-color: rgba(255, 255, 255, 0.9);
            margin: 0 !important;
            text-decoration: none;
            border-bottom: 1px solid $black20pc;
            font-size: 17px;
            display: block;
            width: 100%;
        }

        /* Add a grey background color on mouse-over li */
        .grid-wrapper .navElements li:hover {
            background-color:  rgba(219, 217, 217, 0.9);
            color: $dark-grey;
        }
                
        
        /* Spawn the hamburger menu  "\e5d2"  */ 
        .grid-wrapper a.icon::before {
            font-family: Material Icons;
            color: white;
            cursor: pointer;
            // padding: 5px;
            // border: 1px solid green;
            font-size: 26px;
            content: "\e5d2";
            font-display: block;
            position: absolute;
            right: 25px;
            top: 17px;
        }
        
}