@use "../base" as *;

// css variable set/get in navToggle.js -
// :root {

//     //Set initial display:block so visible
//     --navShow: block;
// }


//  Mobile styling starts 709px
@include break(709px) {

        // Kill off the nav wrapper grid 
        // for desktop by displaying as block
        nav .grid-wrapper {display: block}

        // Hide the desktop navTopBar div
        nav .navTopBar {display: none}

        // show the 139 white logo on mobile
        nav .navLogo a img.white139 {
            width: 180px;
            display: block;
            margin: 19px 0 0 30px;
        }
        
        // Hide the desktop 139 logo
        nav .navLogo a img.navy139 {
            display: none;
        }

        // Mobile nav wrapper $navy and style nav menu
        // Allow div contents to be positioned (pos:relative)
        nav .grid-wrapper {
            display: block;
            background-color: $navy;
            position: relative;
        }
        
        //navToggle.js | Hide/show the links inside the nav menu
        //css variables are get/set in js 
        #siteLinks {
            display: var(--navShow);
        }

        // Position mobile menu to appear under nav wrapper | Z-index for index slider
        .grid-wrapper ul {
            position: absolute;
            left: 0;
            top:70px;
            width: 100%;
            z-index: 100;
        }
        
        /* Style nav menu elements (li) */
        .grid-wrapper .navElements li {
            background-color: rgba(255, 255, 255, 0.9);
            margin: 0 !important;
            text-decoration: none;
            border-bottom: 1px solid $black20pc;
            font-size: 17px;
            display: block;
            width: 100%;
        }

        /* Add a grey background color on mouse-over li */
        .grid-wrapper .navElements li:hover {
            background-color:  rgba(219, 217, 217, 0.9);
            color: $dark-grey;
        }
                
        
        /* Style the icon  menu "\e5d2"  */ 
        .grid-wrapper a.icon {
            color: white;
            cursor: pointer;
            padding: 5px;
            // border: 1px solid green;
            font-size: 29px;
            display: block;
            position: absolute;
            right: 25px;
            top: 11px;
        }
        
}