@use "../base" as *;
@use "buttons" as *;


// Both mobile and desktop use grid

// Desktop menu

nav .grid-wrapper {
    // border-bottom: 1px solid lightgray;
    // overflow: hidden;
    // position: relative;

    width: 100%;
    height: 70px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 2.5%;

    grid-template-areas: 
            "logo bar"
            "logo navButtons";
}

// Logo in desktop menu
nav .navLogo {
    grid-area: logo;
    align-self: center;
    display: grid;
}

nav .navLogo a img.navy139 {
    width: clamp(60px, 180px, 180px);
    display: block;
    margin: 1% 0 0 30px;
    // border: 1px solid red;
}

nav .navLogo a img.white139 {
    // width: clamp(60px, 180px, 180px);
    // display: block;
    // margin: 1% 0 0 30px;
    // border: 1px solid red;
    display: none;
}


// nav buttons in desktop menu

nav {

    .navTopBar {
        grid-area: bar;
        height: 20px;
        background-color: $primary-color;
    }

    .navElements ul {
        grid-area: navButtons;
        margin: 0;
    }

    li.navButton {
        //   border: 1px solid green;
        display: inline-block;
        height: 38px;
        padding: 0 30px;
        color: $dark-grey;
        text-align: center;
        font-size: 15px;
        font-weight: 300;
        line-height: 38px;
        text-decoration: none;
        white-space: nowrap;
        background-color: transparent;
        cursor: pointer;
        box-sizing: border-box;

        & a {
            color: $light-grey;
            font-weight: 300;
            text-decoration: none;

        &:hover {
            color: $dark-grey;
            font-weight: 300;
        }

      }

    }

}


//  call the desktop active page 
  nav li a.active {
    color: $dark-grey;
    font-weight: 300;
}

// Roundel on desktop

  nav .roundel img{
    width: 90px;
    opacity: 0.9;
    position: absolute;
    top: 60px;
    right: 2.7%;
    z-index: 10;
 }

//  Hide roundel at 709px
 @include break(709px) {

  nav .roundel img{
    display: none;
  }
}

