@use "../base" as *;
@use "buttons" as *;


//uses grid

nav .grid-wrapper {
    // border: 1px solid purple;
    width: 100%;
    height: 70px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 2.5%;

    grid-template-areas: 
            "logo bar"
            "logo navButtons";
}

nav .navLogo {
    grid-area: logo;
    align-self: center;
    display: grid;
}

nav .navLogo img {
    width: clamp(60px, 180px, 180px);
    display: block;
    margin: 1% 0 0 30px;
    // display: block;
}

nav .navTopBar {
    grid-area: bar;
    height: 20px;
    background-color: $primary-color;
    // height: 30px ;
}

nav .navElements ul {
    grid-area: navButtons;
    margin: 0;
}

nav li.navButton {
    //   border: 1px solid green;
    display: inline-block;
    height: 38px;
    padding: 0 30px;
    color: $dark-grey;
    text-align: center;
    font-size: 15px;
    font-weight: 300;
    line-height: 38px;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    cursor: pointer;
    box-sizing: border-box;
}

nav li.navButton a {
    color: $light-grey;
    font-weight: 300;
    text-decoration: none;
    &:hover {
      color: $dark-grey;
    }
  }

  nav .roundel img{
    width: 90px;
    opacity: 0.9;
    position: absolute;
    top: 55px;
    right: 2.7%;
    z-index: 10;
 }




//   nav li.navButton a.current {
//     border-bottom: 4px solid $turq;
//     color: $dark-grey;
// }