
// Static hero control
// Contact map, 

.heroImgWrapper{
    // border: 1px solid red;
    // margin-inline: auto;
    // margin:0 auto;
    height: max(50vh, 200px);
    overflow: hidden;
    position: relative;
  }
  
  .heroImg{
    // border: 1px solid green;
    // object-fit: cover;  
    // margin-inline: auto;
    height: 80%;
    width: auto;
    background-color: lightgray;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-48%) translateY(-20%);
  }


// 2:1 image control
// About main img, 

// .ratio1-2Wrapper{
  // border: 1px solid red;
  // height: 40vh; //max(50vh, 200px)
  // margin-inline: auto;
  // margin:0 auto;
  // overflow: hidden;
  // position: relative;
// }

.ratio1-2Img{
  border: 1px solid green;
  object-fit: cover;  
  object-position: left top;
  // margin-inline: auto;
  // height: 100%;
  // width: 100%;
  background-color: lightgray;
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // transform: translateX(-48%) translateY(-50%);
}
