
@use "../base" as *;


* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.slider {
    width: 100%;
    height: 100vh;
    position: relative;
}

.slItems {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.slItem {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0;
    visibility: hidden;
    -webkit-backface-visibility: hidden; /* Chrome, Safari, Opera */
    backface-visibility: hidden;
}

.slText {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 100%;
    width: 100%;
    padding: 0 40% 0 10%;
    text-align: left;
    transform: translate3d(-50%, -50%, 0);
    -webkit-transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    -o-transform: translate3d(-50%, -50%, 0);
    -ms-transform: translate3d(-50%, -50%, 0);
    color: #fff;
    font-size: 30px;
}

.slider [class*="ctrl"] {
    position: absolute;
    top: 50%;
    color: #fff;
    font-size: 85px;
    font-weight: bold;
    margin-top: -42.5px;
    cursor: pointer;
}


h1.sliderTitle {
    color: white;
    font-family: $secondary-font;
    font-weight: 200;
    text-shadow: 1px 1px 3px $black50pc ;
    text-align: left;
    margin: 1rem  0px  0px  0px;

}

//forward and back arrows - HTML from JS/40, 47
//<i class="material-icons arrows">navigate_before</i>
// material-icons class is provided by google fonts - see scss file 

.ctrlNext {
    right: 10px;
}

.ctrlPrev {
    left: 10px;
}


// turn off the arrows at 600px
@include break(600px) {

    .ctrlNext {
        display: none;
    }
    
    .ctrlPrev {
        display: none;
    }

    .slText {
        // position: absolute;
        // top: 50%;
        // left: 50%;
        // max-width: 100%;
        // width: 100%;
        padding: 0 10% 0 10%;
        // text-align: left;
        // color: #fff;
        font-size: 25px;
    }
    

}


.arrows {
    color: $white50pc;
    //color: red;
    font-size: 0.8em !important;
}

.slItem.active {
    opacity: 1;
    visibility: visible;
    transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
}

.next, .prev {
    transition: transform 0.7s ease-in-out;
    -webkit-transition: -webkit-transform 0.7s ease-in-out;
    -moz-transition: -moz-transform 0.7s ease-in-out;
    -o-transition: -o-transform 0.7s ease-in-out;
    -ms-transition: -ms-transform 0.7s ease-in-out;
}

.slItem.nextItem {
    opacity: 1;
    visibility: visible;
    transform: translate3d(100%,0, 0);
    -webkit-transform: translate3d(100%,0,0);
    -moz-transform: translate3d(100%,0,0);
    -o-transform: translate3d(100%,0,0);
    -ms-transform: translate3d(100%,0,0);
}

.slItem.nextItem.next, .slItem.prevItem.prev {
    transform: translate3d(0,0);
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
}

.slItem.active.next {
    transform: translate3d(-100%,0,0);
    -webkit-transform: translate3d(-100%,0,0);
    -moz-transform: translate3d(-100%,0,0);
    -o-transform: translate3d(-100%,0,0);
    -ms-transform: translate3d(-100%,0,0);
}

.slItem.prevItem {
    opacity: 1;
    visibility: visible;
    transform: translate3d(-100%,0,0);
    -webkit-transform: translate3d(-100%,0,0);
    -moz-transform: translate3d(-100%,0,0);
    -o-transform: translate3d(-100%,0,0);
    -ms-transform: translate3d(-100%,0,0);
}

.slItem.active.prev {
    transform: translate3d(100%,0,0);
    -webkit-transform: translate3d(100%,0,0);
    -moz-transform: translate3d(100%,0,0);
    -o-transform: translate3d(100%,0,0);
    -ms-transform: translate3d(100%,0,0);
}

.slDots {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -o-transform: translate(-50%,  0);
    -ms-transform: translate(-50%, 0);
}

.slDotsSingle {
    width: 10px;
    height: 10px;
    float: left;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    margin-left: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.slDotsSingle.active {
    background: #FFFFFF;
}

.slDotsSingle:hover {
    background: #D0D0D0;
    border-color: #D0D0D0;
}
