/*
* Skeleton V2.0.4
* @import is now deprecated - @use instead
* Make sure the compile order is right here */

/* Base files. */
@use "./base/base-styles";
@use "./base/site-vh-control";
@use "./base/normalize";
@use "./base/mixins";
@use "./base/typography";//use Typography Base when design settles
// @use "./base/typographyBase"; See old masters
@use "./base/variables";


/* Modules */
@use "./modules/nav";
@use "./modules/footer-flex";
@use "./modules/buttons";
@use "./modules/forms";
@use "./modules/slider-material-icons";
@use "./modules/slider";
@use "./modules/lists";
@use "./modules/simpleGallery";
@use "./modules/grid3-139boxes";
@use "./modules/tables";

@use "./modules/portfolio/workGrid-1";
@use "./modules/portfolio/copy40pc-1Col";
@use "./modules/portfolio/enviro-copy50pc-2Col";

