/*
* Skeleton V2.0.4
* @import is now deprecated - @use instead
* Make sure the compile order is right here */

/* Base files. */
@use "./base/base-styles";
@use "./base/site-vh-control";
@use "./base/normalize";
@use "./base/mixins";
@use "./base/typography";
// @use "./base/typographyBase"; See old masters
@use "./base/utils";
@use "./base/variables";
@use "./base/flexboxGrid";


/* Modules */
@use "./modules/nav";
@use "./modules/footer-flex";
@use "./modules/slider-material-icons";
@use "./modules/slider";
@use "./modules/buttons";
@use "./modules/code";
@use "./modules/forms";
@use "./modules/col6CopyBox";
@use "./modules/lists";
// @use "./modules/media-queries";
@use "./modules/simpleGallery";
@use "./modules/HomeBoxes";
@use "./modules/spacing";
@use "./modules/tables";


