<!-- Appears on portfolio page - top block -->
<!-- <div class="flexi"></div> -->

<section class="copy40pc-wrapper">
    
    <div class="col1">

        <h1>About</h1>
        <p>I’m an experienced graphic designer who’s recently completed an HND in Web Development, allowing me to bring my design and coding skills to digital communications and Agile team management.
        </p>
        <p>I’m as happy to manage big print jobs in InDesign as I am to work in a digital team on a MailChimp campaign or online product launch. From direct mail to corporate communications, to events, banner stands and infographics, it’s all in a day’s work.
        </p>
            

    </div>
</section>