

<section class="whiteBgrd">

    <div class="whiteEmpty"></div>

    <div class="col2-wrapper">

        <div class="columns2">
            <h3 class="standfirst">I'm a freelance graphic designer designing and taking jobs through to setting and print for a number of London- and Glasgow-based agencies on long- and short contract. </h3> 
            <p> Working in marketing communications and design: from quick turnaround ads, magazines, flyers, events and catalogues to corporate identity, point of sale, advertising, direct mail, e-newsletters and events.</p>
            <p>I’ve designed communications for: Royal Caribbean, the World Health Organisation, Nestlé, BSR, UEBT, NHSScotland, Scottish Enterprise, Age Concern, ISEAL, Babcocks, Strathclyde University, Burson-Marsteller PR, Save the Rhino, Weber Shandwick.</p>
        </p>
        </div>

    </div>

    <div class="rhinoImg">
        <!-- <img src="./img/LondonMarathonCreditChrisGreen.png" alt="Rhino costume runner" class="rhinoPic"> -->
    </div>

</section>

<!-- rm -rf .parcel-cache 
to clear parcel-cache in cli -->