<div class="gwrap-work-1" id="enviro">


    <div class="a-item ratio1-2Wrapper" >
        <picture class="ratio1-2Img">
            <!-- <source media="(min-width: 950px)" srcset="#">
            <source media="(min-width: 650px)" srcset="#">
            <source media="(min-width: 465px)" srcset="#"> -->
            <img src="./img/PfolioImg/Nestle-500.jpg" alt="Nestlé fairtrade coffee">
        </picture>
    </div>


    <div class="b-item">
        <p class="smallbody">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere non cum repudiandae velit recusandae vel placeat corporis ab vero ipsam.</p>
    </div>

    <div class="c-item">
    </div>


    <div class="d-item">
        <!-- <img src="" alt=""> -->
    </div>


    <div class="e-item">
        <!-- <img src="" alt=""> -->
    </div>


</div>