<!-- Appears on work page - top block -->

<section class="copy40pc-wrapper">
    <div class="col2">

        <h1>Portfolio</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id itaque adipisci velit aliquam tempore nam, erferendis eum exercitationem odit ad perspiciatis mollitia, saepe reiciendis dignissimos? Facilis laboriosam alias eum explicabo modi perferendis provident nemo ullam ipsum nostrum reprehenderit exercitationem nobis dignissimos sed, nesciunt.</p>
            

    <div class="workLinks">
        <ul>
            <a href="#enviro"><li class="enviro button">Environmental</li></a>
            <a href="#social"><li class="social button">Social policy</li></a>
            <a href="#infog"><li class="infographics button">Infographics</li></a>
        </ul>
    </div>

</div>
</section>