
<div class="slider" id="slider">
	<div class="slItems">
		<div class="slItem" style="background-image: url('img/portEllen.png');">
			<div class="slText">
				<h3 class="sliderTitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h3> 
			</div>
		</div>
		<div class="slItem" style="background-image: url('img/portEllenBB.png');">
			<div class="slText">
			<h3 class="sliderTitle">Praesent consequat sapien ut dui hendrerit imperdiet.</h3> 
			</div>
		</div>
		<div class="slItem" style="background-image: url('img/whisky.png');">
			<div class="slText">
				<h3 class="sliderTitle">Morbi aliquam tristique rutrum</h3> 
			</div>
		</div>
	</div>
</div>