

<section class="sandBgrd">

    <div class="socialEmpty"></div>

    <div class="col2-wrapper">

        <h1 class="white">Social&nbsppolicy</h1>

        <div class="columns2">
            <h3 class="standfirst">Lorem ipsum dolor sit amet consectetur, dolorum perferendis libero adipisicing elit nonummy.</h3> 
            <p class="white">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id itaque adipisci velit aliquam tempore nam, dolorum perferendis libero beatae quasi alias quis voluptatum? </p>
            <p class="white">Quasi laboriosam dolorum commodi reprehenderit ipsa architecto soluta eaque sed velit maxime, quia perferendis eum exercitationem odit ad perspiciatis mollitia, saepe reiciendis dignissimos? Facilis laboriosam alias eum explicabo modi perferendis provident nemo ullam ipsum nostrum reprehenderit exercitationem nobis dignissimos sed, nesciunt.</p>
        </div>

    </div>

    <div class="numberSocial">
        <img src="./img/logos/fig-3.svg" alt="3" class="figure">
    </div>

</section>