
<!-- see modules/_grid-3-139Boxes.scss -->

<section class="grid-wrapper">

    <div class="turqLink">
        <div class="number"><img src="img/logos/fig-1.svg" alt="1" class="figure"></div>
        <div class="boxCopy">
            <h2>Environment</h2>
            <p class="white">Communications design for a number of environmental organisations </p>
        </div>
        <a href="./portfolio.html#enviro"></a>
    </div>


    <div class="sandLink">
        <div class="number"><img src="img/logos/fig-3.svg" alt="3" class="figure"></div>
        <div class="boxCopy">
            <h2>Social&nbsppolicy</h2>
            <p class="white">Designing social policy documents and communications for NGOs</p>
        </div>
        <a href="./portfolio.html#social"></a>
    </div>


    <div class="terraLink">
        <div class="number"><img src="img/logos/fig-9.svg" alt="9" class="figure"></div>
        <div class="boxCopy">
            <h2>Information design</h2>
            <p class="white">Infographics and information design for data and standards </p>
        </div>
        <a href="./portfolio.html#infog"></a>
    </div>

</section>

