
<!-- see modules/_HomeBoxes.scss -->

<section class="grid-wrapper">

    <div class="turq">
        <div class="number"><img src="img/logos/fig-1.svg" alt="1" class="figure"></div>
        <div class="boxCopy">
            <h5>Environment</h5>
            <p>Lorem ipsum dolor sit amet, consetetur mixit sadipscing elitr diam nonumy eirmod </p>
        </div>
    </div>


    <div class="sand">
        <div class="number"><img src="img/logos/fig-3.svg" alt="3" class="figure"></div>
        <div class="boxCopy">
            <h5>Infographics</h5>
            <p>Lorem ipsum dolor sit amet, consetetur mixit sadipscing elitr diam nonumy eirmod </p>
        </div>
    </div>


    <div class="terra">
        <div class="number"><img src="img/logos/fig-9.svg" alt="9" class="figure"></div>
        <div class="boxCopy">
            <h5>Social policy</h5>
            <p>Lorem ipsum, mixit sadipscing elitr diam nonumy eirmod </p>
        </div>
    </div>

</section>