
<div class="topImg">
    <img alt="" class="map" style="height:300px;">
</div>

<div class="copyBlock">
    <h1 class="none" >We are all international now</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci aliquid reiciendis vel, magnam optio qui eum nesciunt tempora quam sequi laboriosam dolor, veniam minima voluptas voluptatem voluptatibus quae dolore necessitatibus excepturi expedita sunt. Cupiditate expedita iste, perferendis dolorem sint assumenda.</p>
    
</div>

<div class="formBlock">

    <h2 class="formBlockSub2">Suitable heading here</h2>
	
    <!-- action="" method="post" -->
<form>

    <label for="username">Name</label>
    <input type="text" name="username" required placeholder="Your name"/>

    <label for="address">Organisation</label>
    <input type="text" name="organisation" placeholder="Organisation"/>
    
    <label for="tel">Telephone</label>
    <input type="tel" name="tel" placeholder="Telephone"/>
    
    <label for="email">Email</label>
    <input type="text" name="email" required placeholder="Your email"/><br>
    
    <label for="textarea">Your enquiry</label>
    <textarea class="textarea" rows="10" cols="61%" name="textarea" required></textarea>
    
    <input class="formButton" type="submit" name="submit" value="Send" />

</form>

</div>
