<footer>
<div class="grid-container">
    
        <div class="empty-col-left-7 col-2 address">
            <img src="img/logos/139-design-white.svg" alt="139 Design" class="139DesignLogo">
            <p> Flat L 14 Main Street<br>
                Largs Scotland KA30 8AB</p>
            <p> <b>e</b> address@here</p>
        </div>

        <div class="col-2 smallprint">
            <p> T&Cs<br>
                Privacy policy<br>
                Image credits
            </p> 
            <p><i>139 is a company <br>
                registered in Scotland</i>
            </p> 
        </div>
        <div class="col-1 roundel">
            <div id="whiteRoundel">
                <img src="img/logos/139-roundel-white.svg" alt="139 roundel">
            </div>
        </div>
</div>

</footer>