

<div class="address">
    <div class="address-copy">
        <img src="img/logos/139-design-white.svg" alt="139 Design" class="139DesignLogo">
        <p class="white"> 14L&nbspMain&nbspStreet, Largs,&nbspScotland&nbspKA30&nbsp8AB</p>
        <p class="white" style="margin-bottom: 0;"> <b>e</b> address@here</p>
    </div>
</div>

<div class="smallprint">
    <div class="smallprint-copy">
        <p class="white"> <a href="./privacyImagecreds.html#privacyPolicy">Privacy policy</a>&nbsp&nbsp|&nbsp&nbsp<a href="./privacyImagecreds.html#imgCredits">Image credits</a></p>
        <p class="white"><i>139 is a company registered in Scotland</i></p>
    </div>
</div>

<div class="roundel">
        <img src="img/logos/139-roundel-white.svg" alt="139 roundel">
</div>