
<div class="topImg">
    <img src="./img/pic1.jpg" alt="world map" class="map" style="height:300px;">
</div>

<div class="copyBlock">
    <h4 class="none" style="color: lightgrey;">We are all international now</h4>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci aliquid reiciendis vel, magnam optio qui eum nesciunt tempora quam sequi laboriosam dolor, veniam minima voluptas voluptatem voluptatibus quae dolore necessitatibus excepturi expedita sunt. Cupiditate expedita iste, perferendis dolorem sint assumenda.</p>
    
</div>

    <h5>Suitable heading here</h5>
	
    <!-- action="" method="post" -->
    <form>
    <p><input type="text" name="username" required placeholder="Enter username"/></p>
    <p><input type="password" name="password" required placeholder="Enter password"/></p>
    <input class="button" type="submit" name="submit" value="Log in" />
    </form>
