<div class="grid-container">
    <div class="col-1"></div>
    <div class="col-1"></div>
    <div class="col-1"></div>

    <div class="col-1"></div>
    <div class="col-1"></div>
    <div class="col-1"></div>

    <div class="col-1"></div>
    <div class="col-1"></div>
    <div class="col-1"></div>

    <div class="col-1"></div>
    <div class="col-1"></div>
    <div class="col-1"></div>
</div>


<!--footer .col-1 {
    //background-color: rgb(202, 201, 194);
    //border: 1px solid red;
    height: 100px
}-->