<div class="grid-wrapper">
  <!-- returns user back to top button -->
  <a id="button"></a>

    <div class="navLogo">
          <a href="./index.html"><img class="navy139" src="img/logos/139-design-blue.svg" alt="139 Design"></a>
          <a href="./index.html"><img class="white139" src="img/logos/139-design-white.svg" alt="139 Design"></a>
    </div>
          
    <div class="navTopBar">

      <!-- Hamburger menu toggles nav links -->
      <a href="javascript:void(0);" class="icon" onclick="toggleMenu()">
      <span class="material-icons">e5d2</span>

    </div>

    <!-- nav-active.js calls the active page by adding an active class  -->
    <div class="navElements" id="siteLinks">
        <ul>
          <li class="navButton"><a href="./about.html">About</a></li>
          <li class="navButton"><a href="./portfolio.html">Portfolio</a></li>
          <li class="navButton"><a href="./contact.html">Contact</a></li>
        </ul>
    </div>
    
  </div>

  <div class="roundel">
    <a href="./index.html"><img src="img/logos/139-roundel-blue.svg" alt="139 Roundel"></a>
</div>
