<div class="grid-wrapper">
    
    <div class="navLogo">
          <a href="./index.html"><img src="img/logos/139-design-blue.svg" alt="139 Design"></a>
    </div>
          
    <div class="navTopBar"></div>

    <!-- nav-active.js for jQuery call for active page element -->
    <!-- Adds active class  -->
    <div class="navElements">
        <ul>
          <li class="navButton"><a href="./about.html">About</a></li>
          <li class="navButton"><a href="./portfolio.html">Portfolio</a></li>
          <li class="navButton"><a href="./contact.html">Contact</a></li>
        </ul>
    </div>
    
  </div>

  <div class="roundel">
    <a href="./index.html"><img src="img/logos/139-roundel-blue.svg" alt="139 Roundel"></a>
</div>
