<nav>
  <div class="grid-container">
    
    <div class="col-6">
      <div class="navLogo"><a href="#"></a><img src="img/logos/139-design-blue.svg" alt="139 Design"></a></div>
    </div>
    
    <div class="navBar col-6" >
      
      <div class="navTopBar"></div>

      <div class="navRoundel">
        <img src="img/logos/139-roundel-blue.png" alt="139 Design">
      </div>

      <div class="navElements">
        <ul>
          <li class="navButton"><a href="#">About</a></li>
          <li class="navButton"><a href="#">Work</a></li>
          <li class="navButton"><a href="#">Contact</a></li>
        </ul>
      </div>

    </div>
    
  </div>
</nav>