
<div class="slider" id="slider">
	<div class="slItems">
		<div class="slItem" style="background-color: #1c2f50;">
			<div class="slText">
				<h3 class="sliderTitle">Enviro ipsum dolor sit amet, consectetur adipiscing elit</h3> 
			</div>
		</div>
		<div class="slItem" style="background-color: #75b3bf;">
			<div class="slText">
			<h3 class="sliderTitle">Enviro consequat sapien ut dui hendrerit imperdiet.</h3> 
			</div>
		</div>
		<div class="slItem" style="background-color: #bfba7e;">
			<div class="slText">
				<h3 class="sliderTitle">Enviro aliquam tristique rutrum</h3> 
			</div>
		</div>
	</div>
</div>