
<div class="slider" id="slider">
	<div class="slItems">
		<div class="slItem" style="background-image: url('img/portEllen.png');">
			<div class="slText">
				<h1 class="sliderTitle">Working with environmental and social policy clients</h1> 
			</div>
		</div>
		<div class="slItem" style="background-image: url('img/portEllenBB.png');">
			<div class="slText">
			<h1 class="sliderTitle">Helping clients present information in an engaging way</h1> 
			</div>
		</div>
		<div class="slItem" style="background-image: url('img/whisky.png');">
			<div class="slText">
				<h1 class="sliderTitle">Attractive and thoughtful design helping to change minds</h1> 
			</div>
		</div>
	</div>
</div>