<div class="gwrap-work-1">


    <div class="a-item">
        <!-- ./img/breakfast1.png -->
        <img src="#" alt=""> 
    </div>


    <div class="b-item">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere non cum repudiandae velit recusandae vel placeat corporis ab vero ipsam.</p>
    </div>


    <div class="c-item">
        <img class="figure" src="./img/logos/fig-1.svg" alt="1">
    </div>


    <div class="d-item">
        <img src="#" alt="">
    </div>


    <div class="e-item">
        <img src="#" alt="">
    </div>


</div>