<div class="grid-wrapper-work-1">

    <div class="a-item">
        <img src="./img/breakfast1.png" alt="">
    </div>


    <div class="b-item">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem deserunt libero quia porro facere ipsa.</p>
    </div>


    <div class="c-item">
        <img class="figure" src="./img/logos/fig-1.svg" alt="">
    </div>


    <div class="d-item">
        <img src="./img/bedroom1.png" alt="">
    </div>


    <div class="e-item">
        <img src="./img/bedroom2.png" alt="">
    </div>

</div>