@use "../../base" as *;

//uses grid and columns

section.turqBgrd {

    // Grid container
    background-color: $turq;

    width: 100%;
    height: 40vh;
    // height: clamp(200px, 250px, 300px);

    display: grid;
    gap: 0;
    grid-template-columns: repeat(4, 1fr);  
    grid-template-rows: 1fr;

    grid-template-areas: 
        "a b b c"
}

.numberEnviro {
    grid-area: a;
    padding: 1rem;
    display: grid;

        & img{
        opacity: 0.18;
        max-height: 85%;
        align-self: end;
        // border: 1px solid red;
        }
}



div.col2-wrapper {
    grid-area: b;
    border: 1px solid green;
    margin: 2rem auto 0 auto;
    width: 100%;
    
    // columns 
    & .columns2 {
        // border: 1px solid red;
        column-width: 48%;
        column-count: 2;
        column-gap: 4%;

            & h3 {
            font-family: $secondary-font;
            color: $navy;
            font-weight: 300;
            text-align: left;
            margin: 0 8% 2rem 0;
        }
            & p {
            color: white;
        }
    }
}

.emptyEnviro {
    grid-area: c;

}





// width: clamp(500px, 530px, 40%);
