@use "../../base" as *;


//uses grid and columns

section.turqBgrd{
        background-color: $turq;
    }

.numberEnviro {
    grid-area: a;
    padding: 1rem;
    display: grid;

        & img.figure{
        opacity: 0.18;
        max-height: 80%;
        align-self: end;
        //border: 1px solid red;
    }
}

    .emptyEnviro {
        grid-area: c;
    }







// width: clamp(500px, 530px, 40%);
