@use "../../base" as *;

//uses columns

article {
    background-color: $turq;

    .col2-wrapper {
        margin: 4rem auto 6rem auto;
        border: 1px solid green;
        width: 50%;

        & .columns2 {
            // border: 1px solid red;
            column-width: 48%;
            column-count: 2;
            column-gap: 4%;

                & h3 {
                font-family: $secondary-font;
                color: $navy;
                font-weight: 300;
                text-align: left;
                margin: 0 8% 2rem 0;
            }

                & p {
                color: white;
            }
        }
    }
}


// width: clamp(500px, 530px, 40%);
