@use "../../base" as *;

//uses grid and columns
//See abourPortfolio-grids scss for grid control

section.terraBgrd{
    background-color: $terra;
}

.numberInfog {
    grid-area: a;
    padding: 1rem;
    display: grid;

        & img.figure{
        opacity: 0.18;
        max-height: 85%;
        align-self: end;
        //border: 1px solid red;
        }
}

.emptyInfog {
    grid-area: c;
}
    

@include break(660px) {

    .numberInfog {
        grid-column: 1/3;
        padding: 1rem;
        display: grid;
    
            & img.figure{
            opacity: 0.14;
            max-height: 70%;
            align-self: end;
            //border: 1px solid red;
            }
    }
}



// width: clamp(500px, 530px, 40%);
