@use "../../base" as *;

//uses grid and columns
//See Enviro for grid control

section.sandBgrd{
    background-color: $sand;
}


.socialEmpty {
    grid-area: a;
}

.numberSocial {
    grid-area: c;
    padding: 1rem;
    display: grid;

    & img.figure{
        opacity: 0.18;
        max-height: 85%;
        align-self: end;
        justify-self: end;
        // border: 1px solid red;
    }
}






// width: clamp(500px, 530px, 40%);
