

// workGrid1 - Environmental. Uses grid

// https://css-tricks.com/snippets/css/absolute-center-vertical-horizontal-an-image/

// Also https://masonry.desandro.com/

@use "../../base" as *;

.gwrap-work-1  {
    // border: 1px solid green;
    width: 100%;
    min-height: 40vh;

    display: grid;
    grid-template-columns: repeat(4, 1fr);  
    grid-template-rows: 1fr 1fr;

    grid-template-areas: 
        "a a b b"
        "a a d e";

        & .a-item {
            grid-area: a;
            // border: 1px solid green;
            background-color: lightgray;

                // & img {
                //     overflow: hidden;
                // }
        }

        & .b-item {
            grid-area: b;
            // border: 1px solid green;
            background-color: $navy;    
            display: grid;

                & p {
                    padding: 0 1.5vh 1.0vh 1.5vh;
                    align-self: end;
                    color: white;
                }
        }
        // & .c-item {
        //     grid-area: c;
        //     // border: 1px solid green;
        //     background-color: $turq;
        //     display: grid;

        //         & img.figure {
        //             padding-top: 1.5vh;
        //             opacity: 0.5;//50% white
        //             height: 130px;
        //             align-self: start;
        //         }

        // }

        & .d-item {
            grid-area: d;
            background-color: $mid-grey;
            // display: grid;
            // align-self: end;
        }

        & .e-item {
            grid-area: e;
            // border: 1px solid green;
            background-color: $light-grey;
            //overflow:hidden;
            // display: grid;
            // align-self: end;
        }
    }