/* Scss Document */

// $primary-font: 'Barlow', sans-serif; //body, p via base-styles
// $secondary-font: 'Bitter', serif; //headings


@use "../base/variables" as *;


// html {height: 100%}

body{
	margin: 0;
	padding: 0;
	font-family: $primary-font; //Barlow sans
	// hanging-punctuation: none || [ first || [ force-end | allow-end ] || last ];
	font-kerning: normal;
	text-rendering: optimizeLegibility;
	font-variant-ligatures: common-ligatures; //DO NOT use common names with Materialise icon font/material icons

	//numeric character reference being used instead of name for material icons for this run
}


li, ul {
	font-size: 1rem;
	margin: 0.3rem 0;
	text-decoration: none;
}

// Label as p

// label {
// 	font-size: 0.9rem;
// 	margin: 0.15rem 0 0 0; //10px left indent for labels
// }


//this sets the default lineheight at 1.7. Enter an optional 5th value if it needs changed
@mixin p($m-top, $m-right, $m-bottom, $m-left, $lineHeight: 1.7) {
	font-family: $primary-font;
	font-size: 0.9rem;
	font-weight: 300;
	//font-variant: lining-nums|tabular-nums|proportional-nums;
	//text-transform: capitalise|uppercase|lowercase;
	//letter-spacing: -0.1px;
	//word-spacing: 0.02em;
	line-height: 1.8rem; //set 1.7
	color: $dark-grey !important;
	text-align: left;
	margin-top: $m-top;
	margin-right: $m-right;
	margin-bottom: $m-bottom;
	margin-left: $m-left;
}

p { @include p(0, 0, 0.75rem, 0)
		}
	
p.white { @include p(0, 0, 0.75rem, 0);
		color: white !important;
		}

// Footer smallprint
p.smallbody, .address-copy p, .smallprint-copy p { 
	@include p(0, 0, 0.6rem, 0);

	line-height: 1.2rem; //set 1.7
	font-size: 0.8rem;
	color: white !important;
	}

label { @include p(0.5rem, 0, 0, 0)
}





//this sets the default lineheight at 1.3. Enter an optional 5th value if it needs changed
@mixin h1($m-top, $m-right, $m-bottom, $m-left, $lineHeight: 0.8) {
	font-family: $secondary-font;
	font-size: 1.8rem;
	font-weight: 300;
	//font-variant: lining-nums|tabular-nums|proportional-nums;
	//letter-spacing: -0.1px;
	//word-spacing: 0.02em;
	line-height: $lineHeight; //set 1.3
	color: $navy;
	text-align: left;
	margin-top: $m-top;
	margin-right: $m-right;
	margin-bottom: $m-bottom;
	margin-left: $m-left;
}

h1 {
	@include h1(0, 0, 0, 0, 1.3)
}


.h1{
	@include h1(0, 0, 0, 0, 1.3);
}

// Contact Form
.copyBlock h1 {
	@include h1(0, 0, 1rem, 0, 1.3);
	margin-top: 2rem;
}



@mixin h2($m-top, $m-right, $m-bottom, $m-left, $lineHeight: 1.4) {
	font-family: $secondary-font;
	font-size: 1.3rem;
	font-weight: 300;
	//font-variant: lining-nums|tabular-nums|proportional-nums;
	//letter-spacing: -0.1px;
	//word-spacing: 0.02em;
	line-height: $lineHeight; //set 1.8
	color: $navy;
	text-align: left;
	margin-top: $m-top;
	margin-right: $m-right;
	margin-bottom: $m-bottom;
	margin-left: $m-left;
}

h2 {
	@include h2(0, 0, 0.9rem, 0)
}

.h2 {
	@include h2(0, 0, 10px, 0, 1.6)
}

//139 boxes index
.boxCopy h2 {
	@include h2(0, 0, 0.3rem, 0)
}

h2.formBlockSub2 {
	@include h2(2rem, 0, 0, 0)
}



@mixin h3($m-top, $m-right, $m-bottom, $m-left, $lineHeight: 2) {
	font-family: $secondary-font;
	font-size: 0.9rem;
	font-weight: 400;
	//font-variant: lining-nums|tabular-nums|proportional-nums;
	//letter-spacing: -0.1px;
	//word-spacing: 0.02em;
	line-height: $lineHeight; //set 2
	color: $font-color;
	text-align: left;
	margin-top: $m-top;
	margin-right: $m-right;
	margin-bottom: $m-bottom;
	margin-left: $m-left;
}

h3 {
	@include h3(0, 0, 0.5rem, 0)
}


h3.standfirst {
	@include h3(0, 0, 0.75rem, 0, 1.70);
	color: $navy;
	text-align: left;
}




// h4 {
// 	font: 300 1.2rem/1.6rem $primary-font;
// 	color: $navy;
// }





/*=======================*/
/*Links*/
/*=======================*/

a.turqLink { color: $turq !important;
	
		&:hover{
		text-decoration: underline !important;
		}
}

a.darkGreyLink { color: $dark-grey !important;
				  font-family: $primary-font;
	
		&:hover{
		text-decoration: underline !important;
		}
}

	



strong {font-weight: 500}

// .medium {font-weight: 700 !important}

.white {color: white !important;} // don't use this with Materialise lib - set hard into css
	
.italic {font-style: italic !important;}

.shadow {text-shadow: 3px 3px 6px $black50pc}


