// Variables
// css variables bottom

@use "sass:math";

// Colours
$light-grey: #a3a2a2 !default;
$mid-grey: #707070 !default;
$dark-grey: #333333 !default;//also font-color

$navy: #1c2f50 !default;
$turq: #75b3bf !default;
$sand: #bfba7e !default;
$terra: #ab8400 !default;

$primary-color: #1c2f50 !default; //navy
$secondary-color: #75b3bf !default; //turq

$border-color: #1c2f50 !default;//primary colour
$link-color: #75b3bf !default;//turq
$font-color: #333333 !default; //dark grey

$white20pc: rgb(255,255,255,0.2);
$white50pc: rgb(255,255,255,0.5);
$white80pc: rgb(255,255,255,0.8);

$black20pc: rgba(0, 0, 0, 0.2);
$black50pc: rgba(0, 0, 0, 0.5);
$black80pc: rgba(0, 0, 0, 0.8);

// Typography
$primary-font: 'Barlow', sans-serif; //body, p via base-styles
$secondary-font: 'Bitter', serif; //headings

//css variable can be set/get in js
:root {

    //Set initial display:block so visible
    --navShow: block;
}


// Misc
$global-radius: 0px !default;
